<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <body style="margin: 0; padding: 0;">
            <div style=" height:100vh; position: relative; background-color: #000033;">
                <div style="text-align: center;background-color: white;box-shadow: inset 0px 0px 10px black; height: 55%; width: 50%; margin: auto;
                 align-content: center; position: relative; top:15%; border-radius: 1rem;">
                 <div style="top: 15%; position: relative;">
                    <i class="bx bxs-envelope bx-tada" style="font-size:4rem; margin-bottom: 2rem;"></i>
                    <h1 style="margin: 0;padding: 0;">Thanks, {{username}}</h1>
                    <p>Your message has been sent succesfully!</p>
                    <a href="/" > <button style="margin-top: 1rem; padding: 1rem; background-color: black; color: white;"> Home</button>  </a>
                 </div>
                 
                </div>
               
            </div>
        </body>
    </head>
</html>